@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #141619;
    --text-color: #ffffff;
    --main-color: #0a21c0;
    --second-color: #050a44;
    --accent-color: #2c2e3a;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.get-started, .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.get-started {
    background: var(--bg-color);
    text-align: center;
}

.container {
    text-align: center;
    padding: 100px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

.heading {
    font-size: 4.5rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.sub-heading {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--text-color);
}

.form-control {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: var(--main-color);
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #050a44;
}

.btn-success {
    background-color: var(--second-color);
    color: #ffffff;
}

.btn-success:hover {
    background-color: #0a21c0;
}

#loading {
    margin-top: 20px;
    display: none;
    color: var(--main-color);
    font-size: 14px;
}

#videoContainer {
    margin-top: 20px;
}

.team {
    background: var(--accent-color);
    padding: 5rem 9%;
}

.members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.team-mem {
    text-align: center;
}

.team-mem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.team-mem h4 {
    font-size: 2.6rem;
    color: var(--main-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--main-color);
}
